<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Início</title>
  <link rel="stylesheet" href="../public/stylesheets/estilo.css">
</head>
<body>
  <h1>Bem-vindo ao site!</h1>
  <p><a href="/formulario">Ir para o formulário</a></p>
  <p><a href="/clientes">Ir para a rota clientes</a></p>
  <p><a href="/clientes/login">Ir para a rota login</a></p>
  <p><a href="/usuarios">Ir para a rota usuarios</a></p>
  <p><a href="/produtos">Ir para a rota produtos</a></p>
  <p><a href="/produtos/camisetas">Ir para a rota camisetas</a></p>
</body>
</html>
